services:
  - type: web
    name: garka-backend
    env: node
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_EXPIRE
        value: 7d
      - key: ENCRYPTION_KEY
        sync: false
      - key: NODE_ENV
        value: production
      - key: MONNIFY_SANDBOX
        value: "false"
      - key: MONNIFY_AUTO_PAYOUT
        value: "true"
      - key: PLATFORM_COMMISSION
        value: "0.1"
      - key: ADMIN_COMMISSION
        value: "0.05"
